@{
    ViewData["Title"] = ".NET Thailand";
}

<div class="text-center">
    <h1 class="display-4">.NET Thailand group</h1>
    <p>
        <a href="https://www.facebook.com/groups/dotnetthailand">Join .NET Thailand group</a>
    </p>
</div>
