@{
    ViewData["Title"] = ".NET Thailand";
}

@* https://docs.microsoft.com/en-us/aspnet/core/mvc/views/layout?view=aspnetcore-5.0#sections *@
@section Scripts
{
    <script src="~/js/main-bundle.js"></script>
}

<div class="text-center">
    <h1 class="display-4">.NET Thailand group</h1>
    <p>
        <a href="https://www.facebook.com/groups/dotnetthailand">Join .NET Thailand group</a>
    </p>
    <div id="root"></div>
</div>
